<div class="pages">
    <article class="page">
        <div class="page__inner">
            <h2 class="title__main">
                <span class="title__main--decoration">About Me</span>
            </h2>
            <div class="content__section">
                <h3 class="title__middle">
                    <i class="icon icon--small icon--main im-bookmark"></i>
                    <span class="title__label">I’m a Web Developer</span>
                </h3>
                <blockquote class="blockquote">
                    <i class="icon blockquote__quote blockquote__quote--left im-quote-left"></i>
                    <p>Hi, I'm Joseph Wright, a web and software developer with a strong focus on semantics, design, logic and interactivity.
                        I'm currently living in Indiana and freelancing with a few small local companies.</p>
                    <p>My strengths are creating products with modern technologies and designs that speak to the mission of my clients! I pride
                        myself on delivering software and websites that solve real needs, that work reliably, that operate
                        securely, and that are a pleasure to use. My talents focus on mobile-first and user-centered patterns! I will develop
                        your vision into a product focusing on your values and your mission! Experimenter and builder by
                        trade, as a web development fanatic I create digital products with creativity, methodology, and passion.</p>
                    <p>In today’s world, every business needs representation online, and if your website needs a facelift or
                        better implementation I can help! Lets work together by setting goals to develop your online presence for
                        higher rates of engagement, greater public awareness, stronger organic website views and front-of-mind brand
                        awareness!</p>
                    <i class="icon blockquote__quote blockquote__quote--right im-quote-right"></i>
                </blockquote>
            </div>
            <div class="content__section">
                <h3 class="title__middle">
                    <i class="icon icon--small icon--main im-file-text-o"></i>
                    <span class="title__label">Personal Info</span>
                </h3>
                <div class="iconboxs">
                    <div class="iconbox">
                        <i class="icon icon--medium iconbox__icon im-earth"></i>
                        <div class="iconbox__info">
                            <span class="iconbox__name">Current Location</span>
                            <span class="iconbox__label">Indiana, United States</span>
                        </div>
                    </div>
                    <div class="iconbox">
                        <i class="icon icon--medium iconbox__icon im-location"></i>
                        <div class="iconbox__info">
                            <span class="iconbox__name">Hometown</span>
                            <span class="iconbox__label">Fort Wayne, Indiana</span>
                        </div>
                    </div>
                    <div class="iconbox">
                        <i class="icon icon--medium iconbox__icon im-calendar"></i>
                        <div class="iconbox__info">
                            <span class="iconbox__name">Date of birth</span>
                            <span class="iconbox__label">March 27th (Aries)</span>
                        </div>
                    </div>
                    <div class="iconbox">
                        <i class="icon icon--medium iconbox__icon  fa fa-fighter-jet"></i>
                        <div class="iconbox__info">
                            <span class="iconbox__name">Hobbies</span>
                            <span class="iconbox__label">Drone Pilot</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__section">
                <h3 class="title__middle">
                    <i class="icon icon--small icon--main im-embed2"></i>
                    <span class="title__label">Interests</span>
                </h3>
                <div class="iconboxs">
                    <div class="interests__iconbox">
                        <i class="icon icon--large devicon-angularjs-plain"></i>
                        <i class="icon icon--large devicon-apple-original"></i>
                        <i class="icon icon--large devicon-atom-original"></i>
                        <i class="icon icon--large devicon-bootstrap-plain"></i>
                        <i class="icon icon--large devicon-bower-plain"></i>
                        <i class="icon icon--large devicon-chrome-plain"></i>
                        <i class="icon icon--large devicon-css3-plain"></i>
                        <i class="icon icon--large devicon-dot-net-plain"></i>
                        <i class="icon icon--large devicon-foundation-plain"></i>
                        <i class="icon icon--large devicon-github-plain"></i>
                        <i class="icon icon--large devicon-grunt-plain"></i>
                        <i class="icon icon--large devicon-gulp-plain"></i>
                        <i class="icon icon--large devicon-java-plain"></i>
                        <i class="icon icon--large devicon-javascript-plain"></i>
                        <i class="icon icon--large devicon-jquery-plain"></i>
                        <i class="icon icon--large devicon-meteor-plain"></i>
                        <i class="icon icon--large devicon-mysql-plain"></i>
                        <i class="icon icon--large devicon-nodejs-plain"></i>
                        <i class="icon icon--large devicon-php-plain"></i>
                        <i class="icon icon--large devicon-react-original"></i>
                        <i class="icon icon--large devicon-sass-original"></i>
                        <i class="icon icon--large devicon-wordpress-plain"></i>
                        <i class="icon icon--large"></i>
                        <!-- http://devicon.fr/ -->
                    </div>

                </div>
            </div>
            <div class="content__section">
                <div class="skills">
                    <h3 class="title__middle">
                        <i class="icon icon--small icon--main im-diamond"></i>
                        <span class="title__label">My Skills</span>
                    </h3>
                    <div class="progress__bars">
                        <div class="progress__bar">
                            <span class="progress__name">HTML / CSS</span>
                            <div class="progress">
                                <span class="progress__value" style="width: 88%"></span>
                            </div>
                        </div>
                        <div class="progress__bar">
                            <span class="progress__name">JavaScript</span>
                            <div class="progress">
                                <span class="progress__value" style="width: 75%"></span>
                            </div>
                        </div>
                        <div class="progress__bar">
                            <span class="progress__name">Design</span>
                            <div class="progress">
                                <span class="progress__value" style="width: 62%"></span>
                            </div>
                        </div>
                        <div class="progress__bar">
                            <span class="progress__name">Backend</span>
                            <div class="progress">
                                <span class="progress__value" style="width: 71%"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="content__section" ng-include="'./views/stats.html'"></div> -->
        </div>
    </article>
</div>
