<div class="pages">
        <section class="page">
            <div class="page__inner">
                <h2 class="title title__main">
                    <span class="title__main--decoration">Administration</span>
                </h2>
                <div class="content__section">
                    <a ng-href="admin" class="btn download" style="display: block">
                        <i class="icon icon__link fa fa-chevron-circle-left"></i>
                        <span class="download__label">Administration</span>
                    </a>
                </div>
                <div class="content__section">
                    <h3 class="title title_middle">
                        <i class="icon icon--small icon--main fa fa-pencil-square-o"></i>
                        <span class="title__label">Create Blog Entry</span>
                    </h3>
                    <ng-form="createBlogEntry" class="form">
                        <div class="form__inner">
                            <div class="form__group form__row">
                                <input type="password" class="form__element field" ng-model="password" placeholder="Password">
                                <i class="icon form__icon fa fa-plus-circle"></i>
                                <span class="form__decor-line"></span>
                            </div>
                            <div class="form__group form__row">
                                <input type="text" class="form__element field" ng-model="createBlogEntry.title" placeholder="Title">
                                <i class="icon form__icon fa fa-plus-circle"></i>
                                <span class="form__decor-line"></span>
                            </div>
                            <small class="form__tab"><i class="fa fa-angle-double-down"></i> ...url after base/assets/images/</small>
                            <div class="form__group form__row">
                                <input type="text" class="form__element field" ng-model="createBlogEntry.thumbnail" placeholder="Thumbnail">
                                <i class="icon form__icon fa fa-plus-circle"></i>
                                <span class="form__decor-line"></span>
                            </div>
                            <div class="form__group form__row">
                                <input type="date" class="form__element field" ng-model="createBlogEntry.date" placeholder="Date">
                                <i class="icon form__icon fa fa-plus-circle"></i>
                                <span class="form__decor-line"></span>
                            </div>
                            <div class="form__group form__row">
                                <textarea class="form__element field textarea" ng-model="createBlogEntry.excerpt" placeholder="Excerpt"></textarea>
                                <i class="icon form__icon fa fa-plus-circle"></i>
                                <span class="form__decor-line"></span>
                            </div>
                            <div class="form__group form__row">
                                <textarea class="form__element field textarea" ng-model="createBlogEntry.content" placeholder="Content"></textarea>
                                <i class="icon form__icon fa fa-plus-circle"></i>
                                <span class="form__decor-line"></span>
                            </div>
                            <small class="form__tab"><i class="fa fa-angle-double-down"></i> ...comma separated list ("example, example, example")</small>
                            <div class="form__group form__row">
                                <input type="text" class="form__element field" ng-model="createBlogEntry.tags" placeholder="Tags">
                                <i class="icon form__icon fa fa-plus-circle"></i>
                                <span class="form__decor-line"></span>
                            </div>
                            <small class="form__tab"><i class="fa fa-angle-double-down"></i> ...url after base/blog/</small>
                            <div class="form__group form__row">
                                <input type="text" class="form__element field" ng-model="createBlogEntry.link" placeholder="Link">
                                <i class="icon form__icon fa fa-plus-circle"></i>
                                <span class="form__decor-line"></span>
                            </div>
                            <div ng-show="message" class="form__group form__row admin__message" ng-bind-html="message"></div>
                        </div>
                        <div class="form__button-box">
                            <button class="button" ng-click="password ? blogCreate(password, createBlogEntry) : return">create blog entry</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>