<div class="pages">
	<div class="page">
		<div class="page__inner">
			<h2 class="title title__main">
				<span class="title__main--decoration">{{ blogDetails.title.length ? blogDetails.title : 'Item Not Found' }}</span>
			</h2>
			<div class="content__section">
				<blockquote class="blockquote">
					<i class="icon blockquote__quote blockquote__quote--left im-quote-left"></i>
					<p>{{ blogDetails.excerpt.length ? blogDetails.excerpt : 'The page you requested could not be found, please try refreshing the page or contact joseph@codedwright.com' }}</p>
					<i class="icon blockquote__quote blockquote__quote--right im-quote-right"></i>
				</blockquote>
			</div>
			<div class="content__section">
				<h3 class="title title__middle">
					<i class="icon icon--small main-icon im-embed"></i>
					<span class="title__label">{{ blogDetails.title }}</span>
                </h3>
                <p ng-show="blogDetails.title.length" ng-bind-html="blogDetails.content"></p>
                <a ng-hide="blogDetails.title.length" ng-href="blog" class="btn download" style="display: block">
                    <i class="icon icon__link im-mode_edit"></i>
                    <span class="download__label">View blog</span>
                </a>
            </div>
            <div  class="content__section">
                
            </div>
		</div>
	</div>
</div>