<div class="pages">
	<section class="page">
		<div class="page__inner">
			<h2 class="title title__main">
				<span class="title__main--decoration">Blog</span>
			</h2>
			<div class="content__section">
				<blockquote class="blockquote">
					<i class="icon blockquote__quote blockquote__quote--left im-quote-left"></i>
					<p>
						Here I detail some of the things I enjoy doing, my accomplishments and the interesting things I am engaged in. 
					</p>
					<p>
						I would like to be known for being analytically results-oriented, collaboratively focused, and passionately committed to providing the highest quality of code that meets and exceeds industry standards in regards web and application development. 
					</p>
					<p>
						In my free time I volunteer my services to a local non-profit, SCORE, to help beginning entrepreneurs and small businesses through mentorship. 
					</p>
					<p>
						In 2016, I established Ivy Tech Northeast’s Information Technology Club as a collective effort to show that anyone can learn the basics all things relating to technology, including programming, web design, and robotics. 
					</p>
					<i class="icon blockquote__quote blockquote__quote--right im-quote-right"></i>
				</blockquote>
			</div>
			<div class="content__section">
				<div class="cards">
					<article ng-repeat="entry in blog" class="card">
						<header class="card__header">
							<img src="{{ entry.thumbnail }}" class="responsive-img card__img" alt="{{ entry.title | uppercase }} Thumbnail">
							<span class="card__date">{{ entry.date | date : "mediumDate"}}</span>
						</header>
						<div class="card__content">
							<h4 class="title title_small card__title">{{ entry.title | uppercase }}</h4>
							<div class="card__description">
								<p>{{ entry.excerpt }}</p>
							</div>
						</div>
						<footer class="card__footer">
							<div class="tags">
								<i class="icon im-local_offer"></i>
								<span class="tags__item tags__label">Tags:</span>
								<span ng-if="entry.tags" ng-repeat="tag in entry.tags.split(', ')" class="tags__item tags__hashtag">
									<a href="#">#{{ tag }}</a>
								</span>
							</div>
							<a ng-href="./blog/{{ entry.link }}" class="link-flat js-readmore">Read more</a>
						</footer>
					</article>
				</div>
			</div>
		</div>
	</section>
</div>