<h3 class="title title__middle">
    <i class="icon icon--small main-icon im-users"></i>
    <span class="title__label">Clients</span>
</h3>
<div class="clients">
    <a href="#0" class="client">
        <img src="http://stas-melnikov.ru/cliparts/client_audiojungle.png" class="client__logo responsive-img" alt="client">
    </a>
    <a href="#0" class="client">
        <img src="http://stas-melnikov.ru/cliparts/client_videohive.png" class="client__logo responsive-img" alt="client">
    </a>
    <a href="#0" class="client">
        <img src="http://stas-melnikov.ru/cliparts/client_themeforest.png" class="client__logo responsive-img" alt="client">
    </a>
    <a href="#0" class="client">
        <img src="http://stas-melnikov.ru/cliparts/client_audiojungle.png" class="client__logo responsive-img" alt="client">
    </a>
    <a href="#0" class="client">
        <img src="http://stas-melnikov.ru/cliparts/client_videohive.png" class="client__logo responsive-img" alt="client">
    </a>
    <a href="#0" class="client">
        <img src="http://stas-melnikov.ru/cliparts/client_themeforest.png" class="client__logo responsive-img" alt="client">
    </a>
    <a href="#0" class="client">
        <img src="http://stas-melnikov.ru/cliparts/client_audiojungle.png" class="client__logo responsive-img" alt="client">
    </a>
    <a href="#0" class="client">
        <img src="http://stas-melnikov.ru/cliparts/client_videohive.png" class="client__logo responsive-img" alt="client">
    </a>
</div>