<h3 class="title title__middle">
    <i class="icon icon--small main-icon im-usd"></i>
    <span class="title__label">Services Pricing Table</span>
</h3>
<div class="content__section">
    <table class="price-table">
        <thead class="price-table__thead">
            <tr>
                <th class="price-table__th">Features</th>
                <th class="price-table__th">Basic</th>
                <th class="price-table__th">Advanced</th>
                <th class="price-table__th">Professional</th>
            </tr>
        </thead>
        <tbody class="price-table__tbody">
            <tr class="price-table__tr">
                <td class="price-table__td">User Interface Design</td>
                <td class="price-table__td">Yes</td>
                <td class="price-table__td">Yes</td>
                <td class="price-table__td">Yes</td>
            </tr>
            <tr class="price-table__tr">
                <td class="price-table__td">Company Branding</td>
                <td class="price-table__td">No</td>
                <td class="price-table__td">Yes</td>
                <td class="price-table__td">Yes</td>
            </tr>
            <tr class="price-table__tr">
                <td class="price-table__td">Training &amp; Support</td>
                <td class="price-table__td">Yes</td>
                <td class="price-table__td">Yes</td>
                <td class="price-table__td">Yes</td>
            </tr>
            <tr class="price-table__tr">
                <td class="price-table__td">Weeks</td>
                <td class="price-table__td">6</td>
                <td class="price-table__td">12</td>
                <td class="price-table__td">24</td>
            </tr>
            <tr class="price-table__tr">
                <td class="price-table__td">Hours</td>
                <td class="price-table__td">120</td>
                <td class="price-table__td">240</td>
                <td class="price-table__td">480</td>
            </tr>
            <tr class="price-table__tr">
                <td class="price-table__td">Price</td>
                <td class="price-table__td">$25 / hour</td>
                <td class="price-table__td">$20 / hour</td>
                <td class="price-table__td">$15 / hour</td>
            </tr>
        </tbody>
    </table>
</div>