<div class="pages">
	<section class="page">
		<div class="page__inner">
			<h2 class="title__main">
				<span class="title__main--decoration">Resume</span>
			</h2>
			<div class="content__section">
				<blockquote class="blockquote">
					<i class="icon blockquote__quote blockquote__quote--left im-quote-left"></i>
					<p>Front-end web application developer, able to build a web presence from the ground up – from concept, navigation, layout
						and programming to search engine optimization. My strengths include being a resourceful problem solver and having a
						passion for learning new technologies.</p>
					<p>I am adept at developing, testing and maintaining software and web applications that people use everyday with their
						computers, phones and other technical devices. The coursework I have immersed myself in has a combination of practical
						programming techniques and problem-solving skills. My education has prepared me to start a new career in the fast changing
						world of information technology with practical knowledge and skills for an entry-level position in software and web
						development.</p>
					<i class="icon blockquote__quote blockquote__quote--right im-quote-right"></i>
				</blockquote>
				<a href="https://docs.google.com/document/d/18sT-iuSh6faQ71OGKUGUktyhKXyd8ovzuYIreiai4Mg" target="_blank" class="btn download" style="display: block">
					<i class="icon icon__link im-cloud-download"></i>
					<span class="download__label">Download resume</span>
				</a>
			</div>
			<div class="content__section">
				<h3 class="title title__middle">
					<i class="icon icon--small icon--main im-suitcase"></i>
					<span class="title__label">Experience</span>
				</h3>
				<div class="timeline">
					<article class="timeline__box">
						<h4 class="title__small">Freedom Diamond Tools</h4>
						<span class="timeline__caption">2016-Present</span>
						<div class="timeline__content">
							<p>Web Developer &amp; Technology Consultant</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">Referral Cleaning &amp; Restoration</h4>
						<span class="timeline__caption">2013-Present</span>
						<div class="timeline__content">
							<p>Web Developer &amp; Technology Support</p>
						</div>
					</article>
				</div>
			</div>
			<div class="content__section">
				<h3 class="title title__middle">
					<i class="icon icon--small icon--main im-graduation-cap"></i>
					<span class="title__label">Education</span>
				</h3>
				<div class="timeline">
					<article class="timeline__box">
						<h4 class="title__small">Indiana Institute of Technology</h4>
						<span class="timeline__caption">2018 Graduate</span>
						<div class="timeline__content">
							<p>Bachelor of Science (B.S.), Web Development</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">Ivy Tech Community College</h4>
						<!-- <span class="timeline__caption">2014-2016 &dot;</span> -->
						<div class="timeline__content">
							<p>Associate of Science (A.S.), Informatics</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">Ivy Tech Community College</h4>
						<!-- <span class="timeline__caption">2014-2016 &dot;</span> -->
						<div class="timeline__content">
							<p>Associate of Applied Science (A.S.), Software Development</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">Ivy Tech Community College</h4>
						<!-- <span class="timeline__caption">2014-2015 &dot;</span> -->
						<div class="timeline__content">
							<p>Associate of Science (A.S.), Software Development</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">Ivy Tech Community College</h4>
						<!-- <span class="timeline__caption">2014-2015 &dot;</span> -->
						<div class="timeline__content">
							<p>Technical Certificate, Software Development</p>
						</div>
					</article>
				</div>
			</div>
			<div class="content__section">
				<h3 class="title title__middle">
					<i class="icon icon--small icon--main im-stats-bars"></i>
					<span class="title__label">Certification</span>
				</h3>
				<div class="timeline">
					<article class="timeline__box">
						<h4 class="title__small">TestOut</h4>
						<span class="timeline__caption">2016</span>
						<div class="timeline__content">
							<p>Security Pro</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">TestOut</h4>
						<span class="timeline__caption">2016</span>
						<div class="timeline__content">
							<p>PC Pro</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">Ivy Tech Community College</h4>
						<span class="timeline__caption">2015</span>
						<div class="timeline__content">
							<p>Web Application Development</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">Ivy Tech Community College</h4>
						<span class="timeline__caption">2015</span>
						<div class="timeline__content">
							<p>Java Application Development</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">CompTIA</h4>
						<span class="timeline__caption">2015</span>
						<div class="timeline__content">
							<p>Network+</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">Microsoft</h4>
						<span class="timeline__caption">2014</span>
						<div class="timeline__content">
							<p>Database Fundaments</p>
						</div>
					</article>
					<article class="timeline__box">
						<h4 class="title__small">Indiana University—Purdue University Fort Wayne</h4>
						<span class="timeline__caption">2014</span>
						<div class="timeline__content">
							<p>Web Development Basics</p>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
</div>