<div class="pages">
	<section class="page">
		<div class="page__inner">
			<h2 class="title__main">
				<span class="title__main--decoration">Services</span>
			</h2>
			<div class="content__section">
				<blockquote class="blockquote">
					<i class="icon blockquote__quote blockquote__quote--left im-quote-left"></i>
					<p>Your company website is the most important part of your marketing strategy. It’s the center for your brand’s message.
						Your marketing materials should support and drive traffic to your website to increase conversion rates. Mobile interactions
						with websites are dominating analytics at an extremely rapid rate. Responsive website design efficiently enables you
						to optimize your business for both desktop and mobile with a single medium allowing you to merge your marketing approach.
						</p>
					<p>With multiple services offered, all aspects of web development and web presence will exceed set expectations. Primary
						services offered cover web presence and page ranking, web application development, mobile application development,
						social media management and creation, tech support and consultation, and advertising campaign consultation.</p>
					<i class="icon blockquote__quote blockquote__quote--right im-quote-right"></i>
				</blockquote>
			</div>
			<div class="content__section">
				<div class="cards">
					<article class="card card_bg-yes">
						<header class="card__iconbox">
							<i class="icon icon--large card__icon im-eye"></i>
						</header>
						<div class="card__content">
							<h4 class="title title__small card__title">Web Presence &amp; Page Ranking</h4>
							<div class="card__description">
								<p>To build your web presence on listing and crawling services like search engines and google’s various products you
									will need to have multiple active social media accounts, blogs, and / or directory listings to encourage people
									to engage with you.</p>
								<p>Engagement, online content (both written and visual) and activity is what allows you to be closer to the top of search
									engines like google; also being geographically located near the center of the city.</p>
							</div>
						</div>
					</article>


					<article class="card card_bg-yes">
						<header class="card__iconbox">
							<i class="icon icon--large card__icon im-html5"></i>
						</header>
						<div class="card__content">
							<h4 class="title title__small card__title">Web application development</h4>
							<div class="card__description">
								<p>The first step is creating a website is to think about the target the site. During this phase you answer critical
									questions that will focus the site.</p>
								<p>Sucessfull websites are built by working with your vision to define the needs and expectations of your website's
									users and build outward from there. The result is a great looking site that accurately reflects your brand and marries
									aesthetics and functionality.</p>
							</div>
						</div>
					</article>
					<article class="card card_bg-yes">
						<header class="card__iconbox">
							<i class="icon icon--large card__icon im-tablet"></i>
						</header>
						<div class="card__content">
							<h4 class="title title__small card__title">Mobile first development</h4>
							<div class="card__description">
								<p>Let's expand your value for your brand by taking your business mobile. With vast experience using a wide range of
									development tools, languages and development environments, there is endless posibility to do a lot of custom programming
									from scratch. </p>
								<p>Even if the solution you need doesn’t exist, I can create one for you.</p>
							</div>
						</div>
					</article>
					<article class="card card_bg-yes">
						<header class="card__iconbox">
							<i class="icon icon--large card__icon im-laptop"></i>
						</header>
						<div class="card__content">
							<h4 class="title title__small card__title">Social Media Management</h4>
							<div class="card__description">
								<p>Tools like Twitter, LinkedIn, and Facebook can enhance your marketing efforts, with your website acting as your central
									marketing hub. These marketing tools add value by connecting your audience to your brand allowing for realtime engagement
									and reach.</p>
								<p>Setting up and managing these accounts can be a nightmare, but integration into your platform can allow you to stream
									all of your content.</p>
							</div>
						</div>
					</article>
					<article class="card card_bg-yes">
						<header class="card__iconbox">
							<i class="icon icon--large card__icon im-stats-bars"></i>
						</header>
						<div class="card__content">
							<h4 class="title title__small card__title">Search Engine Optimization</h4>
							<div class="card__description">
								<p>Search Engine Optimization is the process of designing, writing, coding, programming, and scripting your entire Web
									site so that there is a good chance that your Web pages will appear at the top of search engine queries for your
									selected keywords</p>
								<p>Measures your team can take, pay per click marketing campaigns and other internet marketing topics are covered at
									length with this service.</p>
							</div>
						</div>
					</article>
					<article class="card card_bg-yes">
						<header class="card__iconbox">
							<i class="icon icon--large card__icon im-support"></i>
						</header>
						<div class="card__content">
							<h4 class="title title__small card__title">Tech Support &amp; Consultation</h4>
							<div class="card__description">
								<p>Recommendations for you to reach your marketing goals, for additional pages of content to help in your search engine
									optimization efforts, and general tech support to automate and become more efficient in the digital age.</p>
								<p>Key factors: website content updates, landing or splash page design, website expansion, website audits, usability
									and 508 compliance, hosting plan upgrades, as well as hardware and software upgrades and support.</p>
							</div>
						</div>
					</article>
				</div>
			</div>
			<!-- <div class="content__section" ng-include="'./views/pricing-table.html'"></div> -->
			<!-- <div class="content__section" ng-include="'./views/client-showcase.html'"></div> -->
			<!-- <div class="content__section" ng-include="'./views/testimonials.html'"></div> -->
		</div>
	</section>
</div>