<h3 class="title__middle">
    <i class="icon icon--small icon--main im-trophy"></i>
    <span class="title__label">My Stats</span>
</h3>
<div class="iconboxs">
    <div class="iconbox">
        <i class="icon icon--medium iconbox__icon im-thumbs-up"></i>
        <div class="iconbox__info">
            <span class="iconbox__name">20+</span>
            <span class="iconbox__label">projects done</span>
        </div>
    </div>
    <div class="iconbox">
        <i class="icon icon--medium iconbox__icon im-smile"></i>
        <div class="iconbox__info">
            <span class="iconbox__name">3+</span>
            <span class="iconbox__label">happy clients</span>
        </div>
    </div>
    <div class="iconbox">
        <i class="icon icon--medium iconbox__icon im-coffee"></i>
        <div class="iconbox__info">
            <span class="iconbox__name">40+</span>
            <span class="iconbox__label">cups of coffee</span>
        </div>
    </div>
    <div class="iconbox">
        <i class="icon icon--medium iconbox__icon im-embed2"></i>
        <div class="iconbox__info">
            <span class="iconbox__name">20,000</span>
            <span class="iconbox__label">lines of coding</span>
        </div>
    </div>
</div>