<h3 class="title title__middle">
    <i class="icon icon--small main-icon im-comments"></i>
    <span class="title__label">Testimonials</span>
</h3>
<div class="content__section cards">
    <article class="card card_bg-yes">
        <header class="card__iconbox">
            <img src="http://stas-melnikov.ru/cliparts/daria.jpg" class="card__avatar" alt="ava">
        </header>
        <div class="card__content">
            <h4 class="title title_small card__title">Lena Woods</h4>
            <span class="card__caption">Developer, Freelancer</span>
            <blockquote class="card__description card__blockquote">
                <i class="icon card__quote card__quote-left im-quote-left"></i>
                <p>Amazing theme, amazing code and especially amazing support! I Really love your work.</p>
                <i class="icon card__quote card__quote-right im-quote-right"></i>
            </blockquote>
        </div>
    </article>
    <article class="card card_bg-yes">
        <header class="card__iconbox">
            <img src="http://stas-melnikov.ru/cliparts/ksenia.jpg" class="card__avatar" alt="ava">
        </header>
        <div class="card__content">
            <h4 class="title title_small card__title">Lena Adams</h4>
            <span class="card__caption">CEO, Web-studio</span>
            <blockquote class="card__description card__blockquote">
                <i class="icon card__quote card__quote-left im-quote-left"></i>
                <p>Amazing theme, amazing code and especially amazing support! I Really love your work.</p>
                <i class="icon card__quote card__quote-right im-quote-right"></i>
            </blockquote>
        </div>
    </article>
    <article class="card card_bg-yes">
        <header class="card__iconbox">
            <img src="http://stas-melnikov.ru/cliparts/woman_ava.jpg" class="card__avatar" alt="ava">
        </header>
        <div class="card__content">
            <h4 class="title title_small card__title">Annita Asbury</h4>
            <span class="card__caption">CEO, Web-studio</span>
            <blockquote class="card__description card__blockquote">
                <i class="icon card__quote card__quote-left im-quote-left"></i>
                <p>He was a great co-worker and a friend. I would't be where i am without his support.</p>
                <i class="icon card__quote card__quote-right im-quote-right"></i>
            </blockquote>
        </div>
    </article>
    <article class="card card_bg-yes">
        <header class="card__iconbox">
            <img src="http://stas-melnikov.ru/cliparts/woman_ava2.jpg" class="card__avatar" alt="ava">
        </header>
        <div class="card__content">
            <h4 class="title title_small card__title">Marilou Thornhill</h4>
            <span class="card__caption">Designer, Freelancer</span>
            <blockquote class="card__description card__blockquote">
                <i class="icon card__quote card__quote-left im-quote-left"></i>
                <p>He is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much.</p>
                <i class="icon card__quote card__quote-right im-quote-right"></i>
            </blockquote>
        </div>
    </article>
    <article class="card card_bg-yes">
        <header class="card__iconbox">
            <img src="http://stas-melnikov.ru/cliparts/man_ava.jpg" class="card__avatar" alt="ava">
        </header>
        <div class="card__content">
            <h4 class="title title_small card__title">Antone Treadway</h4>
            <span class="card__caption">Front-end developer, Freelancer</span>
            <blockquote class="card__description card__blockquote">
                <i class="icon card__quote card__quote-left im-quote-left"></i>
                <p>Those checkboxes are stunningly good! Not sure I like the text areas though. Great resource, thanks.</p>
                <i class="icon card__quote card__quote-right im-quote-right"></i>
            </blockquote>
        </div>
    </article>
    <article class="card card_bg-yes">
        <header class="card__iconbox">
            <img src="http://stas-melnikov.ru/cliparts/ivan.jpg" class="card__avatar" alt="ava">
        </header>
        <div class="card__content">
            <h4 class="title title_small card__title">Ivan Kent</h4>
            <span class="card__caption">Designer, Web-studio</span>
            <blockquote class="card__description card__blockquote">
                <i class="icon card__quote card__quote-left im-quote-left"></i>
                <p>Amazing theme, amazing code and especially amazing support! I Really love your work.</p>
                <i class="icon card__quote card__quote-right im-quote-right"></i>
            </blockquote>
        </div>
    </article>
</div>