@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?wt3z8g") format("truetype"), 
	   url("../fonts/icomoon.woff?wt3z8g") format("woff"), 
	   url("../fonts/icomoon.svg?wt3z8g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="im-"], [class*=" im-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.im-account_circle:before {
	content: "\e853"
}
.im-assignment:before {
	content: "\e85d"
}
.im-mode_edit:before {
	content: "\e254"
}
.im-laptop_windows:before {
	content: "\e321"
}
.im-person_pin_circle:before {
	content: "\e56a"
}
.im-local_offer:before {
	content: "\e54e"
}
.im-keyboard:before {
	content: "\e312"
}
.im-smile:before {
	content: "\e901"
}
.im-calendar:before {
	content: "\e900"
}
.im-mobile2:before {
	content: "\e902"
}
.im-location:before {
	content: "\e903"
}
.im-bubbles:before {
	content: "\e909"
}
.im-earth:before {
	content: "\e906"
}
.im-man-woman:before {
	content: "\e907"
}
.im-embed2:before {
	content: "\e90a"
}
.im-whatsapp:before {
	content: "\e908"
}
.im-book:before {
	content: "\e90b"
}
.im-address-book:before {
	content: "\e904"
}
.im-stats-bars:before {
	content: "\e905"
}
.im-coffee:before {
	content: "\f0f4"
}
.im-thumbs-up:before {
	content: "\f164"
}
.im-eye:before {
	content: "\f06e"
}
.im-laptop:before {
	content: "\f109"
}
.im-quote-left:before {
	content: "\f10d"
}
.im-quote-right:before {
	content: "\f10e"
}
.im-html5:before {
	content: "\f13b"
}
.im-bookmark:before {
	content: "\f02e"
}
.im-comments:before {
	content: "\f086"
}
.im-trophy:before {
	content: "\f091"
}
.im-users:before {
	content: "\f0c0"
}
.im-suitcase:before {
	content: "\f0f2"
}
.im-file-text-o:before {
	content: "\f0f6"
}
.im-windows:before {
	content: "\f17a"
}
.im-android:before {
	content: "\f17b"
}
.im-graduation-cap:before {
	content: "\f19d"
}
.im-diamond:before {
	content: "\f219"
}
.im-user:before {
	content: "\f007"
}
.im-twitter:before {
	content: "\f099"
}
.im-facebook:before {
	content: "\f09a"
}
.im-facebook-f:before {
	content: "\f09a"
}
.im-github:before {
	content: "\f09b"
}
.im-google-plus:before {
	content: "\f0d5"
}
.im-envelope:before {
	content: "\f0e0"
}
.im-linkedin:before {
	content: "\f0e1"
}
.im-cloud-download:before {
	content: "\f0ed"
}
.im-dollar:before {
	content: "\f155"
}
.im-usd:before {
	content: "\f155"
}
.im-skype:before {
	content: "\f17e"
}
.im-envelope-square:before {
	content: "\f199"
}
.im-tablet:before {
	content: "\f10a"
}
.im-support:before {
	content: "\f1cd"
}