.tags {
	width: 100%;
	max-width: 60%;
	line-height: 2.5rem;
}
.tags__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: .5rem;
	font-weight: 700;
	&:last-child {
		margin-right: 0;
	}
}
.tags__hashtag {
	color: $secondary; //#303F9F;
}
.card__portfolio {
	@extend .card;
	@extend .card_bg-yes; 
	i {
		@extend .icon;
		@extend .icon--large;
		@extend .card__icon;
		@extend .card__avatar;
	}
	&:hover i {
		transform: rotateY(1080deg);
	}
	.btn {
		margin: 0 auto;
	}
}